#table-of-contents {
  width: 316px !important;
}

#postamble {
  .author {
    .follows {
      margin-left: 4px;

      & img {
        margin-top: -4px;
      }
    }
  }
}

#search {
  .search-input {
    width: 100%;
    margin-top: 2px;
  }
}

.MathJax_Display {
  overflow: scroll !important;
}

code {
  white-space: normal !important;
}

code,
pre {
  padding: 2px 4px;
  border-radius: 5px;
}

details {
  &.code-details {
    margin-bottom: 1rem;
  }
}

blockquote {
  border-left: 5px solid #ea4c89;
}

@media screen and (max-width: 768px) {
  #table-of-contents {
    width: 100% !important;
  }
}
