#table-of-contents {
  width: 316px !important;
}

#cuat {
  color: #8a8a8a;
  font-size: 12px;
}
#cuat span {
  margin-right: 1rem;
}

h1.title {
  margin-bottom: 0.2em;
}

#content {
  overflow: auto;
}
#content img.my-search-icon,
#content img.title-phone {
  max-width: 30px;
}
#content .todo.DOING {
  background-color: magenta;
}
#content .todo.TODO {
  background-color: #f29f97;
}
#content .done.DONE {
  background-color: #ababab;
}
#content li.on > code + p {
  display: inline;
}
#content li.on > code + p + p {
  margin-top: 24px;
}
#content h3,
#content h4,
#content h5 {
  text-indent: 0;
}

#vue-toc li {
  margin-left: 0;
}
#vue-toc .el-head-menu {
  margin-top: 1rem;
}
#vue-toc .el-toc-menu {
  border-right: none;
}
#vue-toc .el-toc-menu .el-menu-item {
  border-left: 1px solid #cacaca;
  padding: 3px 20px;
  justify-content: space-between;
}
#vue-toc .el-toc-menu .el-menu-item:hover {
  border-left: 3px solid #c05b4d;
  transition: 0.2s ease-out;
  transform: translateX(4px);
}
#vue-toc .el-toc-menu .el-menu-item .date {
  margin-right: 10px;
  color: #8a8a8a;
}
#vue-toc .el-toc-menu .el-menu-item a {
  color: #c05b4d;
  font-size: 18px;
}
#vue-toc .el-toc-menu .el-menu-item-group__title {
  font-size: 28px;
  font-family: Athelas, STHeiti, Microsoft Yahei, serif;
}
#vue-toc .el-tabs__item .is-icon-close {
  vertical-align: middle;
}
#vue-toc .el-tabs__item .tab-label {
  display: flex;
  align-items: center;
}
#vue-toc .el-tabs__item .tab-label.is-sub {
  float: left;
}

#postamble {
  display: none;
}
#postamble .author .follows {
  margin-left: 4px;
}
#postamble .author .follows img {
  margin-top: -4px;
}

.hl-word {
  color: blue;
}

#search,
#vue-toc {
  margin: 5px 0;
}
#search .search-input,
#vue-toc .search-input {
  width: 100%;
  margin-top: 2px;
}
#search .el-input__suffix,
#vue-toc .el-input__suffix {
  top: 8px;
  height: auto;
}

.search-suffix {
  display: flex;
}
.search-suffix img.command-k,
.search-suffix span.command-k {
  align-items: center;
  background: rgba(125, 125, 125, 0.1);
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
  color: #909399;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  padding-bottom: 2px;
  position: relative;
  top: -1px;
  width: 20px;
}

.MathJax_Display {
  overflow: scroll !important;
}

.utterances {
  margin-top: 3rem;
}

h3 {
  text-indent: 1rem;
}

h4 {
  text-indent: 2rem;
}

details.code-details {
  margin-bottom: 1rem;
}

blockquote {
  border-left: 5px solid #ea4c89;
}

.search-list a:hover {
  background-color: #42b883 !important;
}
.search-list a:hover .hit-title,
.search-list a:hover .hit-path {
  color: #ffffff !important;
}
.search-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4d9c41), to(#19911d), color-stop(0.6, #54de5d));
}
.search-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.el-scrollbar__view.el-autocomplete-suggestion__list,
.search-list {
  padding-top: 1em;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li,
.search-list li {
  width: 100%;
  text-overflow: ellipsis;
  border-radius: 4px;
  display: flex;
  padding-bottom: 4px;
  position: relative;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li a,
.search-list li a {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #d4d9e1;
  display: block;
  padding-left: 12px;
  width: 100%;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li a .hit-container,
.search-list li a .hit-container {
  align-items: center;
  color: #444950;
  display: flex;
  flex-direction: row;
  height: 56px;
  padding: 0 12px 0 0;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li a .hit-icon,
.el-scrollbar__view.el-autocomplete-suggestion__list li a .hit-action,
.search-list li a .hit-icon,
.search-list li a .hit-action {
  color: rgba(60, 60, 60, 0.7);
  stroke-width: 1.4;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li a .hit-icon,
.search-list li a .hit-icon {
  width: 20px;
  height: 20px;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li a .hit-content-wrap,
.search-list li a .hit-content-wrap {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-weight: 500;
  justify-content: center;
  line-height: 1.2em;
  margin: 0 8px;
  overflow-x: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li a .hit-content-wrap .hit-title,
.search-list li a .hit-content-wrap .hit-title {
  font-size: 0.9em;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li a .hit-content-wrap .hit-path,
.search-list li a .hit-content-wrap .hit-path {
  color: rgba(60, 60, 60, 0.7);
  font-size: 0.75em;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li[aria-selected=true] a,
.search-list li[aria-selected=true] a {
  background-color: #42b883;
}
.el-scrollbar__view.el-autocomplete-suggestion__list li[aria-selected=true] a .hit-container,
.search-list li[aria-selected=true] a .hit-container {
  color: #ffffff;
}

.el-input-group__append img.my-search-icon {
  width: 30px;
  max-width: 30px;
}

.el-toc-menu {
  border-right: none;
}
.el-toc-menu .tags {
  display: flex;
  margin-left: 1em;
}
.el-toc-menu .tags .el-tag {
  margin-right: 0.5em;
}

.gl-tag-divider {
  margin-top: 3rem;
}

.gl-tag-card .el-badge {
  margin: 0 15px 15px 0;
  cursor: pointer;
}

#theme-switcher svg {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 1rem;
}

#gl-copy-button {
  position: absolute;
  right: 96px;
  top: 8px;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  background: #0366d6;
  color: #fff;
  padding: 3px 8px;
}

@media screen and (max-width: 768px) {
  #table-of-contents {
    width: 100% !important;
  }
}
/* Set the colors in <pre> blocks from the Leuven theme */
body {
  font-family: "EB Garamond", "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

h2,
h3 {
  font-family: "Cinzel Decorative";
}

a,
abbr {
  font-family: "EB Garamond";
}

pre span.org-builtin {
  color: #006fe0;
  font-weight: bold;
}
pre span.org-string {
  color: #008000;
}
pre span.org-keyword {
  color: #0000ff;
}
pre span.org-variable-name {
  color: #ba36a5;
}
pre span.org-function-name {
  color: #006699;
}
pre span.org-type {
  color: #6434a3;
}
pre span.org-preprocessor {
  color: #808080;
  font-weight: bold;
}
pre span.org-constant {
  color: #d0372d;
}
pre span.org-comment-delimiter {
  color: #8d8d84;
}
pre span.org-comment {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-outshine-level-1 {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-outshine-level-2 {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-outshine-level-3 {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-outshine-level-4 {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-outshine-level-5 {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-outshine-level-6 {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-outshine-level-7 {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-outshine-level-8 {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-outshine-level-9 {
  color: #8d8d84;
  font-style: italic;
}
pre span.org-rainbow-delimiters-depth-1 {
  color: #707183;
}
pre span.org-rainbow-delimiters-depth-2 {
  color: #7388d6;
}
pre span.org-rainbow-delimiters-depth-3 {
  color: #909183;
}
pre span.org-rainbow-delimiters-depth-4 {
  color: #709870;
}
pre span.org-rainbow-delimiters-depth-5 {
  color: #907373;
}
pre span.org-rainbow-delimiters-depth-6 {
  color: #6276ba;
}
pre span.org-rainbow-delimiters-depth-7 {
  color: #858580;
}
pre span.org-rainbow-delimiters-depth-8 {
  color: #80a880;
}
pre span.org-rainbow-delimiters-depth-9 {
  color: #887070;
}
pre span.org-sh-quoted-exec {
  color: #ff1493;
}
pre span.org-diff-removed {
  background-color: #ffebe9;
}
pre span.org-diff-indicator-added {
  background-color: #e6ffec;
}

b,
strong {
  color: #a020f0;
}

pre.debug {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  border: none;
  background: none;
}
pre.debug .string {
  color: green;
}
pre.debug .number {
  color: darkorange;
}
pre.debug .boolean {
  color: blue;
}
pre.debug .null {
  color: magenta;
}
pre.debug .key {
  color: red;
}
pre.debug.line {
  color: red;
  border: none;
  outline: none;
}

.tooltipster-base {
  max-width: 100vw;
}

.tooltipster-box .tooltipster-content strong {
  color: green;
}
.tooltipster-box .tooltipster-content h2 {
  color: aqua;
}
.tooltipster-box .tooltipster-content h3 {
  text-indent: 0;
  color: cyan;
}

.post-content .warn-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: rgba(255, 229, 100, 0.3);
  border-color: #e7c000;
  color: #6b5900;
}
.post-content .warn-block strong {
  color: #6b5900;
}
.post-content .danger-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000;
}
.post-content .danger-block strong {
  color: #4d0000;
}
.post-content .tip-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: #f3f5f7;
  border-color: #42b983;
  color: #000000;
}
.post-content .tip-block strong {
  color: #000000;
}
.post-content .info-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: #f3f5f7;
  border-color: #42b983;
  color: #000000;
}
.post-content .info-block strong {
  color: #000000;
}
.post-content .success-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: #f3f5f7;
  border-color: #42b983;
  color: #42b983;
}
.post-content .success-block strong {
  color: #42b983;
}
.post-content .comment-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: #f3f5f7;
  border-color: #e0e3e6;
  color: #6a737d;
}
.post-content .comment-block strong {
  color: #6a737d;
}
.post-content .comment-block {
  padding: 0.5rem;
}
.post-content .comment-block p {
  margin-bottom: 0;
}
.post-content .red-block {
  color: red;
}

code {
  white-space: normal !important;
  background-color: #f1f1f1;
  color: #476582;
}

code,
pre {
  padding: 2px 4px;
  border-radius: 5px;
}
code.src,
pre.src {
  background: #eeffcc;
}
code.src-diff .org-diff-added,
code.src-diff .org-diff-indicator-added,
pre.src-diff .org-diff-added,
pre.src-diff .org-diff-indicator-added {
  background-color: #8ef990;
}
code.src-diff .org-diff-indicator-removed,
pre.src-diff .org-diff-indicator-removed {
  background-color: #ffebe9;
}

div[id^=outline-container-] a {
  font-family: "EB Garamond";
  text-decoration: none;
  background: linear-gradient(to bottom, transparent 70%, rgba(49, 184, 204, 0.5) 70%);
}
div[id^=outline-container-] a.footref, div[id^=outline-container-] a.coderef {
  background: none;
}

a[data-fancybox=gallery] {
  background: none !important;
}

/*# sourceMappingURL=global.css.map */