pre.debug {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  border: none;
  background: none;

  .string {
    color: green;
  }
  .number {
    color: darkorange;
  }
  .boolean {
    color: blue;
  }
  .null {
    color: magenta;
  }
  .key {
    color: red;
  }

  &.line {
    color: red;
    border: none;
    outline: none;
  }
}
